   <li class="country-cards">
    <span class="country-wrraper"> 
        <img src="{{data.flag}}" alt="{{data.name}}" width='40px' height='40px'/>
        <h2 class="country-title">{{data.name}}</h2>
    </span>
        <div><span class="bold-wrraper">Capital: </span>{{data.capital}}</div>
        <div><span class="bold-wrraper">Population: </span>{{data.population}}</div>
        <div><span class="bold-wrraper">Language: </span>{{lang}}</div>
    </li>